/bin/

*.class
build/jars/NetworkTables.jar
build/jars/WPILib.jar
build/jars/opencv-2410.jar
dist/FRCUserProgram.jar
dist/FRCUserProgram.jar
sysProps.xml
src/org/usfirst/frc/team4213/robot/.Robot.java.swp

src/org/usfirst/frc/team4213/robot/.Skis.java.swp

.robot_conf.xml.swp
